@media (max-width: 1050px){
  #title{
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }
}

h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
  }

body{
    font-family: "Montserrat";
}

#title{
    background-color: #ff4c68;
    color: white;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
  }

.container-fluid{
    padding: 3% 15%;
}

.navbar-brand{
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Ubuntu";
}

.navbar{
  padding-bottom: 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 300;
}

.download-button{
  margin: 5% 3% 5% 0%;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  top: 250px;
}

#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 2;
}

.feature{
  text-align: center;
  padding: 5%;
}

.feature-icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover{
  color: #ff4c68;
}

.feature-title{
  font-weight: 900;
}
.feature-text{
  color: gray;
}

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.carousel-item{
  padding: 7% 15%;
}
h2{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#cta{
  background-color: #ff4c68;
  color: white;
  text-align: center;
  height: 300px;
}

.cta-header{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2.5rem;
  padding: 100px 30% 30px;
}

#footer{
  text-align: center;
  height: 200px;
}

.footer-content{
  padding-top: 70px;
}

.footer-icon{
  padding: 5px;
  margin-bottom: 5px;
}

.copyright{
  color: gray;
}